.card{
    width: 300px;
    transition: all .3s ease-in-out;
}

.divCard{
    display: flex;
    align-items: center;
    justify-content: center;
}

.CardsBox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15px;
}

@media(max-width: 325px) {
    .card {
        width: 200px;
    }
}

img {
    max-height: 200px;
}